<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.haw.agendaathlet">

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="HAW Agenda"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CalendarAppExample">
        <receiver
            android:name=".Widget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <activity
            android:name=".eventManager.NewEventActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".eventManager.PopupDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".essen.EssenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".eventManager.ModuleSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".eventManager.WeeklyEventActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".impressum.ImpressumActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".eventVisual.EventSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".eventManager.EventModActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TodoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".eventManager.DashboardActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".eventManager.ICSExport.ExportActivity" /> <!-- android:theme="@android:style/Theme.Dialog" -->
        <!-- android:label="Kalender Export" -->
        <!-- android:windowSoftInputMode="stateVisible|adjustResize" -->

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".SplashScreen"
            android:exported="true">
            //tools:ignore="ExtraText">
            android:theme="@style/splash>

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
